<!-- <header class="p-3 bg-dark text-white mb-4">
  <div class="container">
      <div>
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              <li><a href="/" class="nav-link px-2 text-white">Home</a></li>
              <li><a href="/about" class="nav-link px-2 text-white">About</a></li>
          </ul>
      </div>
  </div>
</header> -->

<div id="header" class="header-top">
    <div class="container">

        <h1><a href="index.html">Emily Jones</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        <h2>I'm a passionate <span>graphic designer</span> from New York</h2>

        <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link" href="/home">Home</a></li>
            <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/resume">Resume</a></li>
            <li><a class="nav-link" href="/services">Services</a></li>
            <li><a class="nav-link" href="/portfolio">Portfolio</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</div>