<!-- app.js, Qurat-ul-ain Afzal, 301409982, Sept 26, 2023 -->
<!-- I created this navigation partial to alllow the useer to switch between the different pages in the website-->

<div id="header" class="header-top">
    <div class="container">

        <h1><a href="index.html">Ainy Afzal</a></h1>
        <h2>I'm a <span>software developer</span> based in Toronto</h2>

        <nav id="navbar" class="navbar">
        <ul>
            <li><a class="nav-link" href="/home">Home</a></li>
            <li><a class="nav-link" href="/about">About</a></li>
            <li><a class="nav-link" href="/projects">Projects</a></li>
            <li><a class="nav-link" href="/services">Services</a></li>
            <li><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</div>