<!-- app.js, Qurat-ul-ain Afzal, 301409982, Sept 26, 2023 -->

<!-- this is the homepage that contains a nbackground image and is a expanded version of the navigation -->

<%- include('../partials/header', {title :'Home'}) %>

<div id="header">
  <div class="container">

    <h1><a href="index.html">Ainy Afzal</a></h1>

    <h2>I'm a <span>software developer</span> based in Toronto</h2>
  
    <nav id="navbar" class="navbar">
    <ul>
        <li><a class="nav-link active" href="/home">Home</a></li>
        <li><a class="nav-link" href="/about">About</a></li>
        <li><a class="nav-link" href="/projects">Projects</a></li>
        <li><a class="nav-link" href="/services">Services</a></li>
        <li><a class="nav-link" href="/contact">Contact</a></li>
    </ul>
    <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  
  </div>

</div>

<%- include('../partials/footer') %>