<!-- The project page is formatted like a resume to show everything I've worked on -->
<%- include('../partials/header', {title :'Home'}) %>
<%- include('../partials/navigation') %>
<!-- ======= Resume Section ======= -->
<section id="resume" class="resume section-show">
  <div class="container">

    <div class="section-title">
      <h2>Resume</h2>
      <p>What I've Done</p>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Game Develoment</h4>
          <h5>2023 - Present</h5>
          <p><em>Centennial College, Toronto, Canada</em></p>
          <p></p>
        </div>
        <div class="resume-item">
          <h4>Bachelor of Science</h4>
          <h5>2016 - 2021</h5>
          <p><em>Universoty of Toronto, Toronto, Canada</em></p>
          <p> Information Security Specialist &amp; Major in Mathematics </p>
        </div>
        <h3 class="resume-title">Projects</h3>
        <div class="resume-item">
          <h4>QuickHelp</h4>
          <h5>2021</h5>
          <p><em>Java, NodeJs, Express, MongoDB</em></p>
          <p>Developed a mobile application that allows anyone in need of immediate medical assistance to send
            an SOS signal to nearby health care professionals. Focused on reliable communication and correct
            displays for different users. Established secure user authentication and verification processes.
            </p>
        </div>
        <div class="resume-item">
          <h4>Schedule Timer</h4>
          <h5>2023</h5>
          <p><em>React Native, NodeJS </em></p>
          <p> Developed an IOS application that combines the functionalities of agenda and timer to improve a
            users productivity and stay on track of their tasks. Brainstormed solutions to address problems in
            schedule and timer applications offered in the market currently. Designed an application workflow
            to maximize efficiency when scheduling daily routines.
             </p>
        </div>
        
      </div>
      <div class="col-lg-6">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Software Debelopment Engineer</h4>
          <h5>2022 - 2023</h5>
          <p><em>Amazon, Vancouver, Canada </em></p>
          <p>
          <ul>
            <li>Participated in all aspects of the code lifecycle: wrote initial design, scoped and refined
              tasks, split up work and collaborated with team during implementation, effectively used
              feature branches and version control, followed best practices of code development in Java
              and Ruby, manually tested in beta environment, wrote unit tests, submitted code reviews,
              and released changes through CI/CD pipelines. </li>
            <li>Worked on the On Call rotation by acting quickly and effectively in response to high severity
              requests and prioritized received requests throughout the shift.</li>
            <li>Wrote documentation during implementation of all solutions and captured all ideas and
              decisions made which increased cross project communications.</li>
          </ul>
          </p>
        </div>
        <div class="resume-item">
          <h4>Software Engineer Intern</h4>
          <h5>2017 - 2018</h5>
          <p><em>Quanta Technology, Markham, Canada</em></p>
          <p>
          <ul>
            <li>Worked with C# to create applications to automate various tasks and processes.</li>
            <li>Communicated with members of the engineering team to ensure all electrical specifications are correctly defined in the application.</li>
            <li>Developed an application to create electrical diagrams using geographical inputs. This
              automation could complete a task ~ 8x faster than if done manually.</li>
            <li>Presented developed tools to members of the user base and implemented feedback.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Resume Section -->
<%- include('../partials/footer') %>