<!-- The services pagea shows all the types of development I can do -->
<%- include('../partials/header', {title :'Home'}) %>
<%- include('../partials/navigation') %>
 <!-- ======= Services Section ======= -->
 <section id="services" class="services section-show">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>My Services</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-cup-hot"></i></div>
          <h4><a href="">Jave Developer</a></h4>
          <p>Software Development focused on Java and Spring </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-stack"></i></div>
          <h4><a href="">Full Stack Developer</a></h4>
          <p>Software Development focused on MEAN and MERN </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bi bi-controller"></i></div>
          <h4><a href="">Game Developer</a></h4>
          <p>Game Design and Development in Unity</p>
        </div>
      </div>


    </div>

  </div>
</section><!-- End Services Section -->
<%- include('../partials/footer') %>